h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
  h2{
    color: lightskyblue;
  }

 /* body */
  html {
    height: 100%;
    margin: 0;
    display:flex;
    flex-direction: column;
  }
  .home-main{
    display:flex;
    flex-direction: column;
    text-align: center;
  }
  .main-content {
    min-height: 100%;
    /* Adjust padding to the height of the footer */
    padding-bottom: 60px; /* Height of the footer */
    box-sizing: border-box;
    flex:1;
  }
  
  .footer {
    height: 60px; /* Height of the footer */
    width:100%;
    bottom: 0;
    position: fixed;
    /* Your existing footer styles */
    background-color: #0d6efd;
    
  }

button {
    background-color: navy;
    text-align: center;
    color: lightblue;
}

.btn-warning {
  background-color: aqua;
  color: blue;
}

.btn-danger {
  background-color: blue;
  color: aqua;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}


img {
  width: 500px;
  height: 400px;
  padding-top: 10px;
}

nav {
  background-color: cornflowerblue;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 25px;
}

nav a {
  color: white;
  font-size: 1.5em;
}

nav a:hover {
  color: pink;
  text-decoration: none;
}

body {
  background-color: lightblue;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

